.spinner {
  width: 24px;
  height: 24px;
  border: 3px solid #ccc;
  border-top: 3px solid #FC2947;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-top: 12px;
  align-self: center;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
